<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <title>DCTE</title>
</head>
<body >
        <div class="wrapper">
            <div class="mask-static"></div>
            <div class="mask-animation"></div>
            <div class="container">
                <div class="main-menu">
                    <div id="logo"></div>
                </div>
                <div id="Content-win" class="content">
                    @RenderBody()
                </div>
            </div>
        </div>
</body>
</html>