
@{
    Layout = "_LoggedUserLayout";
}
<body>
    <div id="log" class="log-window">
        <div class="window-content">
            <div class="autorize">
                <p id="wLH" class="window-login-header Alert">System alert
                <p>
            </div>
            <div id="progress" class="information-auth">
                You have got restricted access to this section
            </div>
        </div>
    </div>
</body>



